%tr.cloth-row
  %td= link_to cloth.name, [:edit, :admin, :cloth, {id: cloth.id}]
  %td= format_datetime(cloth.last_time_worn, format: :dby) if cloth.last_time_worn.present?
  %td= cloth.brand.name if cloth.brand.present?
  %td= cloth.type.name if cloth.type.present?
  %td= using_now_path(cloth.id)
  - if module_admin?
    %td= cloth.user_username
