%h2.text-center.my-4 Sign up
.row
  .card.bg-light.col-lg-6.offset-lg-3.p-4
    = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mb-4'}do |f|
      = render 'shared/error_messages', resource: resource
      .form-group
        = f.label :name
        = f.text_field :name, autofocus: true, class: 'form-control'

      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'

      .form-group
        = f.label :username
        = f.text_field :username, autofocus: true, class: 'form-control'

      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'

      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'

      .actions
        = f.submit 'Sign up', class: 'btn btn-info'
