:ruby
  method = action_new? || action_create? ? :post : :put
  options = { model: [module_name, cloth_brand], method: method, local: true }
  options.delete(:local) if local_assigns[:locally] == false

= form_with options do |f|
  = render '/shared/error_messages', resource: cloth_brand

  .form-group
    = f.label 'Name:'
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.submit class: 'btn btn-success'

- if action_edit? && controller_name == 'cloth_brands'
  = link_to 'Delete Brand', [module_name, :cloth_brand, { id: cloth_brand.id}],
                            method: :delete, id: 'delete-brand-btn', class: 'btn btn-danger',
                            data: { confirm: 'Do you really wanna get rid of this brand?' }
