- cloth_brands.each do |ct|
  %tr
    %td= ct.name
    %td.d-flex.justify-content-around

      = link_to [:edit, module_name, :cloth_brand, { id: ct.id }], class: 'btn btn-info' do
        = fa_icon :edit

      = link_to [module_name, :cloth_brand, { id: ct.id }], method: :delete, class: 'btn btn-danger',
                data: { confirm: 'Do you really wanna get rid of this brand?' }  do
        = fa_icon :'skull-crossbones'
