- title_link = current_user.present? ? link_for(page: 'root') : '#'
%nav.navbar.navbar-expand-lg.bg-light-brown.mb-3
  %navbar-brand
    = link_to 'Closet Monster', title_link, class: 'h5 text-light mt-1'
  %button.navbar-toggler{ aria: { controls: :navbarContent, expanded: false, label: 'Toggle navigation' },
                          data: { target: '#navbarContent', toggle: :collapse }, type: :button }
    = fa_icon(:bars)
  #navbarContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      - if current_user
        %li.nav-item.dropdown
          %a#userDropdown.nav-link.dropdown-toggle.text-light{ aria: { expanded: false, haspopup: true },
                                                    data: { toggle: :dropdown }, role: :button }
            = current_user.name
          .dropdown-menu.bg-light-brown{'aria-labelledby' => :userDropdown}
            = link_to 'Dashboard', link_for(page: 'root', mod: current_user.role), class: 'dropdown-item text-light'
            = link_to 'Log Out', destroy_user_session_path, method: 'DELETE', class: 'dropdown-item text-light'
      - else
        - if controller_name != 'log_in'
          %li.nav-item
            = link_to 'Sign in', new_user_session_path, id: 'signin-btn', class: 'nav-link text-light'
            %span.sr-only (current)
          %li.nav-item
            = link_to 'Sign up', new_user_registration_path, id: 'signup-btn', class: 'nav-link text-light'
            %span.sr-only (current)
