.perk.text-center.p-4
  -# TODO: ENABLE AGAIN WITH FREE PICS
  -# = image_tag "welcome/#{title}.png", size: '200x200', class: 'my-3'
  %h5= t("welcome.#{title}.title")
  .description= t("welcome.#{title}.text")
