- cloth = cloth.decorate

.cloth.col-lg-3.p-2
  .card.card-body.bg-light.text-center.testing-height.d-flex.flex-column.justify-content-around
    = link_to [:edit, module_name, :cloth, { id: cloth.id }], class: 'link-black' do
      - if cloth.picture.attached?
        = image_tag cloth.picture_url, size: '180x180', class: 'd-block mx-auto mb-3',
                    onerror: fallback_script
      %h4= cloth.name
      - if cloth.worn_at.present?
        .last-time-worn
          %strong Last time worn
          = format_datetime(cloth.worn_at, format: :short_month)

      - if cloth.brand.present?
        .brand
          %strong Brand
          = cloth.brand_name

      - if cloth.type.present?
        .type
          %strong Type
          = cloth.type_name

      - if module_admin?
        .type
          %strong User
          = cloth.user_username

      = using_now_path(cloth.id)
