- method = action_new? || action_create? ? :post : :put

= render 'shared/flash_messages' if flash.present?

= form_with model: [module_name, cloth], method: method, local: true do |f|
  = render '/shared/error_messages', resource: cloth

  .form-group
    = f.label 'Name: '
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label 'Last Time Worn: '
    = f.date_field :last_time_worn, class: 'form-control'

  .form-group
    = f.label 'Picture: '
    = f.file_field :picture, accept: 'image/png,image/jpg,image/jpeg', class: 'form-control'

  .form-group
    = f.label 'Type:'
    = f.select :cloth_type_id, types_options, { include_blank: true }, class: 'form-control'

  .form-group
    = f.label 'Brand:'
    = f.select :cloth_brand_id, brands_options, { include_blank: true }, class: 'form-control'

  .form-group
    = f.submit class: 'btn btn-success'

  - if action_new? || action_create?
    .form-group
      = f.submit id: 'create-other-btn', class: 'btn btn-primary', name: 'other', value: 'Create and add other'

- if action_edit?
  = link_to 'Delete cloth', link_for(page: 'cloth', params: { id: cloth.id}), method: :delete,
                            id: 'delete-cloth-btn', class: 'btn btn-danger',
                            data: { confirm: 'Do you really wanna get rid of this cloth?' }
