%h1.my-4.text-center Cloths Section

.display-inline
  = link_to link_for(prefix: 'new', page: 'cloth'), id: 'new-cloth',class: 'btn btn-success' do
    = fa_icon(:plus, text: 'New cloth')

  = render 'admin/cloths/filter_buttons', cloths: @cloths

= render 'shared/flash_messages' if flash.present?
= render 'admin/cloths/cloths_section', cloths: @cloths
