.container
  = render '/shared/flash_messages' if flash.present?

  .text-center
    %h1.mb-4 #{module_name.to_s.titleize} Dashboard

  #options.row.my-3
    = render 'admin/dashboards/section', name: 'Clothes', icon_name: :tshirt, path: [module_name, :cloths]
    = render 'admin/dashboards/section', name: 'Types of cloth', icon_name: :socks,
                                         path: [module_name, :cloth_types]
    = render 'admin/dashboards/section', name: 'Brands', icon_name: :tags, path: [module_name, :cloth_brands]
    = render 'admin/dashboards/section', name: 'Calendar', icon_name: 'calendar-alt', path: [module_name, :calendar]
